/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.product-box h1 {
    font-size: 32px !important;
}
.display_none{display:none;}
.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}

.gform_body .gfield {
    padding-right: 15px!important;
}

ul.storename {
    list-style: none!important;
    padding: 0px!important;
}

.brandSlider .uabb-image-carousel .slick-track {
    display: flex;
    align-items: center;
}

.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    max-width: 600px!important;
    width: 600px!important;
    padding: 5px 20px;
}

.jabaras_home_banner .slider-menu {
    height: 0px!important;
    display: none!important;
}

.topNumber .storename {
    list-style: none!important;
    padding: 0px!important;
}

.topNumber .fl-rich-text {
    display: flex;
    justify-content: flex-end;
}

.topBar .uabb-text-editor>p,
.topBar .fl-rich-text>p,
.topBar .fl-rich-text>ul {
    padding-bottom: 0px!important;
    margin-bottom: 0px!important;
}

.fl-rich-text>p {
    margin-bottom: 0px!important;
}

.topBar .fl-icon-wrap:hover *,
.topBar .fl-icon-wrap:hover i:before {
    color: #ea4027!important;
}

.custom_searchHeader .fl-icon:hover {
    cursor: pointer;
}

.footer .storename .phone a>span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

.footer .storename .address a>p {
    margin-bottom: 0px!important;
    display: inline-block;
    margin-left: 5px!important;
}

.footer .storename .address>a:before {
    content: "\f041";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

.topBarTwo {
    display: none!important;
}

.gfield .gfield_select {
    margin-top: 0px!important;
}

.fl-module-uabb-gravity-form .uabb-gf-style .gform_wrapper .gfield .ginput_container_select>select {
    margin-top: 0px!important;
}

.gfield .ginput_container_select>select {
    background-color: #f7f7f5!important;
    outline: none!important;
}

.gform_wrapper textarea.large {
    height: 220px!important;
    width: 100%;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}

.gform_wrapper .gfield .ginput_container_checkbox label>a {
    color: #ea4027!important;
}

.gform_wrapper .gfield .ginput_container_checkbox label>a:hover {
    color: #000!important;
}

.gform_wrapper.gf_browser_safari .gfield_checkbox li input,
.gform_wrapper.gf_browser_safari .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_safari .gfield_radio li input[type=radio] {
    margin-top: 0px!important;
}

.featured-products .arrow.slick-next.slick-arrow {
    right: -5px!important;
}

.featured-products .arrow.slick-prev.slick-arrow {
    left: -05px!important;
}

header .nav-link {
    color: #1b1b1b!important;
}

.copyRightBar p>span {
    font-size: 11px!important;
}

@media (max-width: 1024px) {
    .topBar {
        display: none!important;
    }
    .topBarTwo {
        display: block!important;
    }
}

@media (min-width: 768px) {
    .fs-options {
        background-color: #f9f9f8!important;
    }
}

@media (max-width: 768px) {
    .custom_searchModule {
        width: 100%!important;
        max-width: 100% !important;
    }
    .fl-slide-foreground.clearfix {
        display: none;
    }
    .LocationRow .fl-col {
        width: 100%!important;
        max-width: 100%!important;
    }
    .storename .direction>a {
        max-width: 200px;
    }
    ul.store-opening-hrs>li {
        position: relative;
    }
    ul.store-opening-hrs>li>span {
        position: absolute;
        left: 200px;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 33.33%;
    }
    .featured-products .featured-product-list .featured-product-item .prod-img-wrap {
        justify-content: center;
    }
}

@media (max-width: 767px) {
    .featured-products .featured-product-list .featured-product-item {
        width: 50%;
    }
}

@media (max-width: 479px) {
    .product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
        max-height: 240px!important;
    }
    ul.store-opening-hrs>li>span {
        position: absolute;
        left: auto;
        right: 0px;
    }
    .copyRightBar p>span {
        font-size: 11px!important;
    }
    .featured-products .featured-product-list .featured-product-item {
        width: 100%;
    }
}

@media (max-width: 425px) {
    footer .fl-col-group .ColMob_100 {
        Width: 100%!important;
    }
    .gform_body .gfield {
        padding-right: 0px!important;
    }
}

a.nav-link {
    color: #000;
}